html {
    font-family: Calibri;
    margin: -8px;
}
.navbar{
    padding: 1rem;
    display: flex;
}
.nav-enlace{
    margin: 0.5rem;
    color: #1b262c;
    text-decoration: none;
}
.contct{
    display: none;
    float: left;
    margin:0rem 3rem;
}
a{color: #FFF; text-decoration: none;}
a:hover{
    text-shadow: #000 5px 5px 5px;
}
.azul-m{
    background-color: #1b262c;
}
.celeste{
    background-color: #3282b8;
}
.verde{
    background-color: #c9f545;
}
.rojo{
    background-color: #fc4646;
}
.txt-j{
    text-align: justify;
}
.txt-centrado{
    text-align: center;
}
.contenedor{
    margin: 3rem;
}
.jumbotron {
    padding: 1%;
    margin: 0px;
    color: #f4f4f4;
  }
.gsts{
    display: flex;
    justify-content: space-between;
}
.gustos{
    flex-basis: 45%;
    padding: 1rem;
}
footer{
    display: flex;
    justify-content: space-around;
}
.sombra-a{
    box-shadow: 0px -5px 10px #000;
}
.sombra-b{
    box-shadow: 0px 10px 10px #000;
}
.upt{margin: 1rem;}
.med{
    flex-basis: 50%;
}
.nav-boton{
    background-color: transparent;
    border: none;
    display: none;
}

@media(max-width: 600px)
{
    .nav-boton{
        display: inline-block;
    }
    .navbar{
        flex-direction: column;
    }
    .gsts{
        flex-direction: column;
    }
    footer{flex-direction: column-reverse;}
    .desaparece{
    display: none;
    }
}
